In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS
import numpy as np
from tqdm.notebook import tqdm
from time import sleep
from random import randint
import re

In [31]:
url2 = 'https://www.britannica.com/topic/United-States-House-of-Representatives-Seats-by-State-1787120'
response = requests.get(url2)
soup = BS(response.text)
reps = pd.read_html(str(soup.find('table')))[0]
reps = reps[:-1]
reps

             state  representatives
0          Alabama                7
1           Alaska                1
2          Arizona                9
3         Arkansas                4
4       California               53
5         Colorado                7
6      Connecticut                5
7         Delaware                1
8          Florida               27
9          Georgia               14
10          Hawaii                2
11           Idaho                2
12        Illinois               18
13         Indiana                9
14            Iowa                4
15          Kansas                4
16        Kentucky                6
17       Louisiana                6
18           Maine                2
19        Maryland                8
20   Massachusetts                9
21        Michigan               14
22       Minnesota                8
23     Mississippi                4
24        Missouri                8
25         Montana                1
26        Nebraska                3
27          Nevada                4
28   New Hampshire                2
29      New Jersey               12
30      New Mexico                3
31        New York               27
32  North Carolina               13
33    North Dakota                1
34            Ohio               16
35        Oklahoma                5
36          Oregon                5
37    Pennsylvania               18
38    Rhode Island                2
39  South Carolina                7
40    South Dakota                1
41       Tennessee                9
42           Texas               36
43            Utah                4
44         Vermont                1
45        Virginia               11
46      Washington               10
47   West Virginia                3
48       Wisconsin                8
49         Wyoming                1

In [37]:
url3 = 'https://www.factmonster.com/us/postal-information/state-abbreviations-and-state-postal-codes'
response = requests.get(url3)
soup = BS(response.text)
abb= pd.read_html(str(soup.find('table')))[0]
abb

          State/District Abbreviation Postal Code
0                Alabama         Ala.          AL
1                 Alaska       Alaska          AK
2                Arizona        Ariz.          AZ
3               Arkansas         Ark.          AR
4             California       Calif.          CA
5               Colorado        Colo.          CO
6            Connecticut        Conn.          CT
7               Delaware         Del.          DE
8   District of Columbia         D.C.          DC
9                Florida         Fla.          FL
10               Georgia          Ga.          GA
11                Hawaii       Hawaii          HI
12                 Idaho        Idaho          ID
13              Illinois         Ill.          IL
14               Indiana         Ind.          IN
15                  Iowa         Iowa          IA
16                Kansas        Kans.          KS
17              Kentucky          Ky.          KY
18             Louisiana          La.          LA
19                 Maine        Maine          ME
20              Maryland          Md.          MD
21         Massachusetts        Mass.          MA
22              Michigan        Mich.          MI
23             Minnesota        Minn.          MN
24           Mississippi        Miss.          MS
25              Missouri          Mo.          MO
26               Montana        Mont.          MT
27              Nebraska        Nebr.          NE
28                Nevada         Nev.          NV
29         New Hampshire         N.H.          NH
30            New Jersey         N.J.          NJ
31            New Mexico         N.M.          NM
32              New York         N.Y.          NY
33        North Carolina         N.C.          NC
34          North Dakota         N.D.          ND
35                  Ohio         Ohio          OH
36              Oklahoma        Okla.          OK
37                Oregon         Ore.          OR
38          Pennsylvania          Pa.          PA
39          Rhode Island         R.I.          RI
40        South Carolina         S.C.          SC
41          South Dakota         S.D.          SD
42             Tennessee        Tenn.          TN
43                 Texas         Tex.          TX
44                  Utah         Utah          UT
45               Vermont          Vt.          VT
46              Virginia          Va.          VA
47            Washington        Wash.          WA
48         West Virginia        W.Va.          WV
49             Wisconsin         Wis.          WI
50               Wyoming         Wyo.          WY

In [40]:
postal_code = pd.merge(reps,abb, left_on ='state', right_on ='State/District')[['Postal Code', 'representatives']]

In [49]:
# us = pd.DataFrame()
us = []
for state, district in postal_code[['Postal Code', 'representatives']].values:
    for d in range(1,district+1):
        var= str(state) + str(d).zfill(2)
        us.append(var)
us
all_us= pd.DataFrame()
for i in us:
    URL = f'https://www.opensecrets.org/races/summary?cycle=2020&id={str(i)}&spec=N'
    response = requests.get(URL)
    soup = BS(response.text)
    all_us = all_us.append(pd.read_html(str(soup.find('table')))[0])

In [50]:
all_us

,Candidate,Raised,Spent,Cash on Hand,Last Report
0,Jerry Carl (R) • Winner,"$1,971,321","$1,859,349","$111,973",12/31/2020
1,James Averhart (D),"$80,095","$78,973","$1,122",12/31/2020
0,Barry Moore (R) • Winner,"$650,807","$669,368","-$13,633",12/31/2020
1,Phyllis Harvey-Hall (D),"$56,050","$55,988",$0,12/31/2020
0,Mike D Rogers (R) • Incumbent • Winner,"$1,193,111","$1,218,564","$502,234",12/31/2020
...,...,...,...,...,...
1,Tricia Zunker (D),"$1,261,957","$1,232,690","$29,267",12/31/2020
0,Mike Gallagher (R) • Incumbent • Winner,"$3,202,905","$2,841,801","$1,169,362",12/31/2020
1,Amanda Stuck (D),"$416,978","$399,916","$2,165",12/31/2020
0,Liz Cheney (R) • Incumbent • Winner,"$3,003,883","$3,060,167","$153,567",12/31/2020
1,Lynnette Grey Bull (D),"$134,597","$132,235","$2,363",12/31/2020

In [2]:
tn = pd.DataFrame()
for i in range(1, 9+1):
    URL = f'https://www.opensecrets.org/races/summary?cycle=2020&id=TN0{str(i)}&spec=N'
    response = requests.get(URL)
    soup = BS(response.text)
    tn = tn.append(pd.read_html(str(soup.find('table')))[0])

In [3]:
type(response)

requests.models.Response

In [4]:
response.status_code

200

In [5]:
soup.find('title')

In [6]:
soup.find('table')

<table class="DataTable">
<thead>
<tr>
<th>Candidate</th>
<th class="number">Raised</th>
<th class="number">Spent</th>
<th class="number">Cash on Hand</th>
<th>Last Report</th>
</tr>
</thead>
<tbody>
<tr>
<td class="races-category blue" nowrap="">
<a href="/members-of-congress/steve-cohen/summary?cid=N00003225">Steve Cohen (D)</a>
 • <i>Incumbent</i> • <span class="winner"><i>Winner</i></span> </td>
<td class="number">$607,570</td>
<td class="number">$457,311</td>
<td class="number">$1,216,119</td>
<td>12/31/2020</td>
</tr>
<tr>
<td class="races-category red" nowrap="">
								Charlotte Bergmann (R)
						</td>
<td class="number">$99,147</td>
<td class="number">$100,532</td>
<td class="number">$2,566</td>
<td>12/31/2020</td>
</tr>
<tr>
<td class="races-category green" nowrap="">
								Dennis Clark (I)
						</td>
<td class="number">$9,991</td>
<td class="number">$9,919</td>
<td class="number">$40</td>
<td>11/23/2020</td>
</tr>
</tbody>
</table>

In [7]:
table_html = str(soup.find('table'))

from IPython.core.display import HTML

HTML(table_html)

In [8]:
tn

,Candidate,Raised,Spent,Cash on Hand,Last Report
0,Diana Harshbarger (R) • Winner,"$2,126,946","$1,869,100","$257,846",12/31/2020
1,Blair Nicole Walsingham (D),"$140,209","$134,995","$5,215",10/14/2020
0,Tim Burchett (R) • Incumbent • Winner,"$1,336,276","$878,488","$593,678",12/31/2020
1,Renee Hoyos (D),"$812,784","$816,793",$210,12/31/2020
0,Chuck Fleischmann (R) • Incumbent • Winner,"$1,051,653","$381,411","$1,880,341",12/31/2020
1,Meg Gorman (D),"$85,843","$77,760","$8,083",12/31/2020
0,Scott Desjarlais (R) • Incumbent • Winner,"$331,464","$392,499","$302,649",12/31/2020
1,Christopher Hale (D),"$308,731","$302,996","$5,735",12/31/2020
0,Jim Cooper (D) • Incumbent • Winner,"$936,569","$1,332,131","$272,934",12/31/2020
0,John Rose (R) • Incumbent • Winner,"$1,050,429","$625,688","$454,375",12/31/2020
0,Mark Green (R) • Incumbent • Winner,"$1,194,960","$935,487","$287,889",12/31/2020
1,Kiran Sreepada (D),"$206,644","$207,191",$0,12/31/2020
2,Ronald Brown (I),"$1,750",$0,"$9,006",12/31/2020
3,Scott Vieira Jr (I),$655,"$1,049",-$197,10/14/2020
0,David Kustoff (R) • Incumbent • Winner,"$1,641,217","$999,285","$713,832",12/31/2020
1,Erika Stotts Pearson (D),"$19,070","$15,883","$4,137",12/31/2020
0,Steve Cohen (D) • Incumbent • Winner,"$607,570","$457,311","$1,216,119",12/31/2020
1,Charlotte Bergmann (R),"$99,147","$100,532","$2,566",12/31/2020
2,Dennis Clark (I),"$9,991","$9,919",$40,11/23/2020

In [9]:
tn['winner']=tn['Candidate'].str.extract(r'(Winner)')

In [10]:
tn['party'] = tn['Candidate'].str.extract('([(]\w+[)])')

In [11]:
tn['incumbent'] = tn['Candidate'].str.extract(r'(Incumbent)')

In [12]:
tn['name'] = tn['Candidate'].str.extract(r'(.+)\(')

In [24]:
tn = tn.drop(columns= ['Candidate', 'Cash on Hand','Last Report'])

In [25]:
tn = tn.rename(columns = {'Raised': 'raised', 'Spent': 'spent'})

In [26]:
tn

       raised       spent  winner party  incumbent                      name
0  $2,126,946  $1,869,100  Winner   (R)        NaN        Diana Harshbarger
1    $140,209    $134,995     NaN   (D)        NaN  Blair Nicole Walsingham
0  $1,336,276    $878,488  Winner   (R)  Incumbent             Tim Burchett
1    $812,784    $816,793     NaN   (D)        NaN              Renee Hoyos
0  $1,051,653    $381,411  Winner   (R)  Incumbent        Chuck Fleischmann
1     $85,843     $77,760     NaN   (D)        NaN               Meg Gorman
0    $331,464    $392,499  Winner   (R)  Incumbent         Scott Desjarlais
1    $308,731    $302,996     NaN   (D)        NaN         Christopher Hale
0    $936,569  $1,332,131  Winner   (D)  Incumbent               Jim Cooper
0  $1,050,429    $625,688  Winner   (R)  Incumbent                John Rose
0  $1,194,960    $935,487  Winner   (R)  Incumbent               Mark Green
1    $206,644    $207,191     NaN   (D)        NaN           Kiran Sreepada
2      $1,750          $0     NaN   (I)        NaN             Ronald Brown
3        $655      $1,049     NaN   (I)        NaN          Scott Vieira Jr
0  $1,641,217    $999,285  Winner   (R)  Incumbent            David Kustoff
1     $19,070     $15,883     NaN   (D)        NaN     Erika Stotts Pearson
0    $607,570    $457,311  Winner   (D)  Incumbent              Steve Cohen
1     $99,147    $100,532     NaN   (R)        NaN       Charlotte Bergmann
2      $9,991      $9,919     NaN   (I)        NaN             Dennis Clark

In [17]:
#print(stuff)

In [18]:
#stuff['party'] = stuff[2].str.extract('([(]\w+[)])')

In [19]:
#stuff['party2'] = stuff[3].str.extract('([(]\w+[)])')

In [20]:
#stuff[].str.extract(r'Winner')

In [21]:
stuff

NameError: name 'stuff' is not defined

In [ ]:
#stuff.drop(columns=[2,3,5])

In [ ]:
#tn[['name','name2', 'party', 'incumbent', 'winner']] = stuff.drop(columns=[3,5])

In [ ]:
tn

In [ ]:
#tn = tn.drop(columns = 'Candidate')

In [ ]:
#tn.shape

In [ ]:
#tn['name'] = tn['name'].str.cat(tn['name2'],sep=" ")

In [ ]:
#tn = tn.drop(columns = 'name2')

In [ ]:
#tn

In [ ]:
#tn.shape

In [ ]:
#need to rename columns TN = html.rename(columns={"Candidate": "Name", "a": "c"})