In [1]:
import requests
from bs4 import BeautifulSoup as BS
import numpy as np
import pandas as pd
import re

In [2]:
# Get request
URL = 'https://www.opensecrets.org/races/summary?cycle=2020&id=TN02&spec=N'

response = requests.get(URL)
response

In [3]:
# Get soup
soup = BS(response.text)

In [4]:
# Read table as dataframe
TN02 = pd.read_html(str(soup.find('table')))[0]

In [5]:
# Make column titles lowercase
TN02.columns = TN02.columns.str.lower()

# Split candidate column and add named columns to TN02
TN02[['name', 'party', 'incumbent', 'winner']] = TN02['candidate'].str.split(r'\(|â€¢', expand = True)

# Drop candidate column and rearrange columns for readability
TN02 = TN02.drop(columns = 'candidate')[['name', 'party','incumbent', 'winner', 'raised', 'spent']]

# Clean the party column
TN02['party'] = TN02['party'].str.replace(r'\)', '', regex = True)

# Clean and change types of raised and spent
money_cols = ['raised', 'spent']
for col in money_cols:
    TN02[col] = TN02[col].str.replace(r'\$|,', '', regex = True).astype('int')

In [6]:
TN02

            name party    incumbent   winner   raised   spent
0  Tim Burchett    R     Incumbent    Winner  1336276  878488
1   Renee Hoyos      D         None     None   812784  816793